.seatrack-controls {
  width: 100%;
  height: 100%;

  .mdl-textfield:not(:first-child) {
    margin-top: -10px;
  }

  .mdl-menu__item {
    height: 26px;
    line-height: 26px;
    font-size: 13px;
  }

  #seatrack-add-button {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
  }

  .mdl-button--fab.mdl-button--colored {
    background: red;
  }

}

.seatrack-controls-max {

  .seatrack-add-button {
    display: none;
  }

}

