#seatrack-download.mdl-dialog {
  width: 525px;
}
#seatrack-download-button {
  position: fixed;
  left: 130px;
  bottom: 0;
  z-index: 100;
  padding: 0 10px 0 10px;
  background: rgba(255, 255, 255, 0.9);
  color: #555;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  font-weight: normal;
  width: 110px;
  text-align: left;

  i {
    font-size: 20px;
    margin-top: -1px;
    padding-right: 4px;
  }

  &:hover {
    color: #111;
  }
}

#seatrack-approved {
  .files {
    height: 400px;
    overflow-y: auto;
  }

  a {
    color: rgba(0,0,0,.54);
  }

  a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none
  }

  table {

    thead {
      th {
        white-space: nowrap;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;
        line-height: 24px;
      }
    }
    tbody {
      td {
        vertical-align: top;
        padding: 5px 10px 5px 0;
        border-bottom: 1px solid #e0e0e0;

        &.nowrap {
          white-space: nowrap;
        }
      }
    }
  }
}