@media screen and (min-width: 821px) {
  .mdl-layout--fixed-drawer > .mdl-layout__drawer {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
    padding-left: 40px;
  }

  .mdl-layout__header {
    margin-left: 240px;
  }
}

@media screen and (max-width: 820px) {
 .mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 0;
 }
}

@media screen and (min-width: 821px) {
  .mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 240px;
  }
}
