.seatrack-map {
  height: 100%;
  width: auto;
  overflow: hidden;

  .leaflet-control {
    border-radius: 0;
  }

  .leaflet-control-layers-toggle {
    background: #fff;
    width: 26px;
    height: 26px;

    span {
      width: 100%;
      height: 100%;
      line-height: 26px;
      text-align: center;
      color: #333;
      font-size: 22px;
    }
  }

  .leaflet-control-scale {
    margin-left: 75px;
  }

  .cartodb-logo {
    img {
      left: 2px!important;
      bottom: 0!important;
    }
  }
}

.leaflet-touch {
  .leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;

    span {
      line-height: 30px;
    }
  }
}